
<h1>Users in {{ pollingunit.name }} Polling Unit</h1>

<table>
    <thead>
        <tr>
            <th>User Image</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Membership ID</th>
            <th>User Status</th>
        </tr>
    </thead>
    <tbody>
        {% for user in approved_users %}
        <tr>
            <td><img src="{{ user.userimage.url }}" alt="{{ user.fullname }}" style="width:50px;height:50px;"></td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.membership_id }}</td>
            <td>{{ user.user_status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'pollingunit_list' ward_id=pollingunit.ward_set.first.id %}">Back to Polling Units</a>


