<!DOCTYPE html>
<html>
<head>
    <title>State LGA List</title>
</head>
<body>
    <h1>LGAs in {{ state_name }}</h1>

    <table border="1">
        <thead>
            <tr>
                <th>LGA Name</th>
                <th>Number of Users</th>
            </tr>
        </thead>
        <tbody>
            {% for lga in lgas %}
                <tr>
                    <td>{{ lga.name|capfirst }}</td>
                    <td>
                        {% for lga_count in lga_membership_counts %}
                            {% if lga.name == lga_count.lga__name %}
                                {{ lga_count.count }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total Users in State</th>
                <th>{{ total_users_in_state }}</th>
            </tr>
        </tfoot>
    </table>
</body>
</html>


